#kc-header {
    display: none;
}

.parsley-errors-list.filled {
    display: block;
}

.card-header {
    margin-left: 0;
    margin-right: 0;
}

.be-login {
    visibility: hidden;
}

.vshn-logo {
    position: relative;
    width: 200px;
    margin: 1em auto;
    pointer-events: none;
}

.alert-error {
    background-color: #ea3f30;
}

#kc-content {
    padding: 20px 30px 15px;
    border-radius: 0 0 3px 3px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.pf-c-alert__icon {
    width: 55px;
    font-size: 1.846rem;
    vertical-align: middle;
    text-align: center;
    line-height: 22px;
    display: table-cell;
    cursor: default;
    padding-top: 1px;
}

.social-providers h4 {
    text-align: center;
}

.social-providers ul {
    padding: 0;
}

.splash-container {
    max-width: 500px;
}

#kc-totp-settings {
    padding-left: 20px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-horizontal {
    padding-bottom: 15px;
}

.list-group-item-action {
    cursor: pointer;
}

.list-group-item .icon {
    font-size: 1.5rem;
}

.bold-text {
    font-weight: bold;
}

.kcLoginOTPListInputClass {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
}

.kcLoginOTPListClass {
    border: 1px solid #d5d8de;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 3px;
}

.kcLoginOTPListInputClass:checked + .kcLoginOTPListClass {
    border: 1px solid #4081CB;
}

.kcLoginOTPListItemIconBodyClass {
    font-size: 1.3rem;
    padding-right: 0.25rem;
}

#kc-page-title {
    padding: 0 1rem;
    font-size: 2rem;
}

#kc-content-wrapper {
    display: flex;
    flex-direction: column;
}


#kc-social-providers {
    border: none;
    border-top: 2px solid #666666;
    width: 100%;
    padding: 2rem 0 0;
    margin: 1.3rem 0 0;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    position: relative;
}

#kc-social-providers::before {
    content: 'or';
    position: absolute;
    left: calc(50% - 1rem);
    top: -1rem;
    padding: 0 0.5rem;
    font-size: 1.25rem;
    background-color: white;
    color: #666666;
}

#kc-social-providers hr {
    display: none;
}

#kc-social-providers h4 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #666666;
    text-align: left;
    width: 100%;
}

.social-account-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    list-style-type: none;
}

.social-account-list a{
    width: 100%;
}

#social-google {
    background-color: #DB4437;
    border-color: #DB4437;
    color: white;
}

#social-github {
    background-color: #24292E;
    border-color: #24292E;
    color: white;
}

#social-microsoft {
    background-color: #0078D7;
    border-color: #0078D7;
    color: white;
}
